<!DOCTYPE html>
{% extends 'testapp/base.html' %}

    {% block body-block %}
    <div class="jumbotron">
        <div class="container" >
            <h1> Welcome to Durga Exams</h1>
            <h2>Rules :</h2>
            <ul>
                <li>Rule-1 You can write only one exam at a time </li>
                <li>Rule-1 You can write only one exam at a time </li>
                <li>Rule-1 You can write only one exam at a time </li>
            </ul>
        </div>
    </div>
    {% endblock %}